<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="GET"> {% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="Buscar">
        <button type="submit">Buscar</button>
    </form>

    <h1>Resultado Busqueda</h1>
    
    {% for busqueda in empleado  %}
        <ul>    
            <li> {{busqueda}} </li>
        </ul>

    {% endfor %}

</body>
</html>